
body {
  /* background-image: linear-gradient(#cc2b5e, #753a88); */

  background-image: linear-gradient(#9796f0, #fbc7d4);

}

.jumbotron {
  background-image: linear-gradient(#314755,#26a0da);
}

.col-md-2 {
  border:1px solid black;
  background-image: repeating-radial-gradient(#26a0da,#314755);
  margin-bottom:2%;
  margin-right:8.3346%;
  cursor:pointer;
  padding: 2%;
}

.col-md-2 p{
  display:none;
}

.col-md-3 {
  border:1px solid black;
  background-image: repeating-radial-gradient(#26a0da,#314755);
  margin-bottom:2%;
  margin-right:8.3346%;
  cursor:pointer;
  padding:2%;
}

.col-md-3 p{
  display:none;
}
